.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 102px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.career-image {
  background: url(http://res.cloudinary.com/unravled/image/upload/v1506809350/6756eb948ad65a60a8182eeaa94eef0d_no1mdp.jpg)
  no-repeat center;
  height: 1000px;
  width: 100%;
  z-index: 5;
  background-size: cover;
  opacity: .7;
  }

  .webdev {
    background: url(http://res.cloudinary.com/carlyhuh/image/upload/v1506809136/Mentor_siw0g9.gif)
    no-repeat center;
    background-size: 45%;
    height: 804px;
    width: 433px;
    margin-left: 355px;
  }

  .mentor1 {
    background: url(http://res.cloudinary.com/carlyhuh/image/upload/v1506815509/WebDev_kunfax.gif)
    no-repeat center;
    background-size: 45%;
    height: 500px;
    width: 500px;
    flex-direction: row;
  }

  .mentor2 {
    background: url(http://res.cloudinary.com/carlyhuh/image/upload/v1506816244/Mentor2_uyjbbq.png
)
  no-repeat center;
  background-size: 45%;
  height: 500px;
  width: 500px;
  flex-direction: row;

}

.mentor3 {
  background: url(http://res.cloudinary.com/carlyhuh/image/upload/v1506816243/Mentor_3_kznwe4.png)
  no-repeat center;
  background-size: 45%;
  height: 500px;
  width: 500px;
  flex-direction: row;
}

.mentor4 {
  background: url(http://res.cloudinary.com/carlyhuh/image/upload/v1506816244/Mentor_4_bpw8fb.png)
  no-repeat center;
  background-size: 45%;
}

.mentor5 {
  background: url(http://res.cloudinary.com/anademag/image/upload/v1506809488/Mentor_2_r7m9fr.png)
  no-repeat center;
  background-size: 45%;
}

.circle-container {
  display: flex;
  margin-top: -19px;

}






 .computer-background {
   background: url(http://res.cloudinary.com/natasha-price/image/upload/v1506816123/Edith_bxxtj1.gif)
   no-repeat center;
     background-size: cover;
   /*height: 700px;
   width: 100%;
   z-index: 5;
   background-size: cover;
   position: absolute;*/
 }

 .navBar-images {
   position: relative;
   top: -50px;
 }
